/**
 * Global
 * ----------------------------------------------------------------------------
 */

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif, sansserif;
    text-rendering: optimizeLegibility;
    color: #222;
    font-size: 18px;
    line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1.6em 0 1em;
    font-weight: 700;
}
h1 {
    font-size: 3em;
}
p {
    margin: 0 0 1.6em;
}
a {
    color: #3b94d9;
}
a:hover, a:focus {
    text-decoration: underline;
}
a:focus {
    background-color: #f7ecb5;
}
ul {
    margin-bottom: 1.6em;
}

/**
 * Content
 * ----------------------------------------------------------------------------
 */

.entry-header h1 {
    margin: 2.4em 0 1.6em;
    font-size: 2.4em;
}
.entry-content a {
    text-decoration: underline;
}
.entry-content a:hover, .entry-content a:focus {
    text-decoration: none;
}
.header-container {
    background-position: center center;
    background-size: cover;
}
.page .entry-content, .single .entry-content {
    margin-bottom: 3em;
}
ul.buttons {
    padding: 0;
    text-align: center;
}
ul.buttons li {
    display: inline-block;
    list-style: none;
}
ul.buttons li a {
    display: block;
    padding: 1em 1.5em;
    border: 2px solid #ddd;
    text-decoration: none;
}
ul.buttons li a:hover {
    background-color: #eee;
    border: 2px solid #ccc;
    text-decoration: underline;
}
.home .banner, .archive .banner, .single .entry-header, .page .entry-header {
    padding: 1.6em;
    color: #fff;
    background-color: rgba(59,148,217,0.8);
    margin-bottom: 2em;
}

/**
 * Footer
 * ----------------------------------------------------------------------------
 */

footer {
    padding: 1em 0;
    background-color: #e4eaea;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer .site-info {
    padding: 1em;
}

/**
 * Header
 * ----------------------------------------------------------------------------
 */

header {
    border-top: solid 9px #3b94d9;
}
.banner h1 {
    font-size: 4em;
    margin: 1.6em 0 0.5em;
}
